<h3>{{pageTitle}}</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
          <ul class="list-group">
            <button type="button" class="list-group-item">
              <span class="badge">3</span>
              Overdue Tasks
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">7</span>
              Tasks Due Today
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">11</span>
              Checklist items
            </button>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Task List</div>
        <div class="panel-body">
          <table class="table">
            <thead >
              <tr>
                <th id="th-one" class="text-center" style="padding-left:40px;">Task Name</th>
                <th id="th-two" class="text-right" style="padding=0;">Assigned To</th>
                <th id="th-three" class="text-right" style="padding-right:18px;padding-left:0;">Due Date</th>
              </tr>
            </thead>
          </table>
          <div class="list-group">
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    First Task
                  </div>
                  <div class="col-xs-4 text-center" style="padding:0;">
                    Someone
                  </div>
                  <div class="col-xs-2 text-center" style="padding:0">
                    Tomorrow
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    First Task
                  </div>
                  <div class="col-xs-4 text-center" style="padding:0;">
                    Someone
                  </div>
                  <div class="col-xs-2 text-center" style="padding:0">
                    Tomorrow
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    First Task
                  </div>
                  <div class="col-xs-4 text-center" style="padding:0;">
                    Someone
                  </div>
                  <div class="col-xs-2 text-center" style="padding:0">
                    Tomorrow
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-xs-6">
                    First Task
                  </div>
                  <div class="col-xs-4 text-center" style="padding:0;">
                    Someone
                  </div>
                  <div class="col-xs-2 text-center" style="padding:0">
                    Tomorrow
                  </div>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Active Listings</div>
        <div class="panel-body">
          <ul class="list-group">
            <button type="button" class="list-group-item">
              <span class="badge">John Smith</span>
              123 Main Street
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">David Wright</span>
              2834 Camino Blanchett
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">Sarah Cassell</span>
              1692 Calle Plateau
            </button>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Under Contract</div>
        <div class="panel-body">
          <ul class="list-group">
            <button type="button" class="list-group-item">
              <span class="badge">Jane Nottingham</span>
              2258 W Blake Lane
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">Peter Hausen</span>
              9124 E Spearhead Lake Drive
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">Hannah Seltan</span>
              8431 S 26th Place
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
