<h3>{{pageTitle}}</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
          <ul class="list-group">
            <button type="button" class="list-group-item">
              <span class="badge">3</span>
              Overdue Tasks
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">7</span>
              Tasks Due Today
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">11</span>
              Checklist items
            </button>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Task List</div>
        <div class="panel-body">
          <retracker-todos></retracker-todos>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Active Listings</div>
        <div class="panel-body">
          <ul class="list-group" >
            <a class="list-group-item" *ngFor="let listing of listings">
              <span class="badge">{{listing.client.name}}</span>
              {{listing.address}}
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Active Purchase Contracts</div>
        <div class="panel-body">
          <ul class="list-group">
            <a class="list-group-item" *ngFor="let purchase of purchases">
              <span class="badge">{{purchase.client}}</span>
              {{purchase.address}}
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
