<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active pill"><a [routerLink]="['./dashboard']">Dashboard</a></li>
        <li class="pill"><a [routerLink]="['./clients']">Clients</a></li>
        <li class="pill"><a [routerLink]="['./listings']">Listings</a></li>
        <li class="pill"><a [routerLink]="['./purchases']">Purchases</a></li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
