<table class="table">
    <thead >
        <tr>
        <th id="th-one" class="text-center" style="padding-left:40px;">Task Name</th>
        <th id="th-two" class="text-right" style="padding=0;">Related To</th>
        <th id="th-three" class="text-right" style="padding-right:18px;padding-left:0;">Due Date</th>
        </tr>
    </thead>
</table>
<div class="list-group">
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-xs-6">
            First Task
            </div>
            <div class="col-xs-4 text-center" style="padding:0;">
            Someone
            </div>
            <div class="col-xs-2 text-center" style="padding:0">
            Tomorrow
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-xs-6">
            First Task
            </div>
            <div class="col-xs-4 text-center" style="padding:0;">
            Someone
            </div>
            <div class="col-xs-2 text-center" style="padding:0">
            Tomorrow
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-xs-6">
            First Task
            </div>
            <div class="col-xs-4 text-center" style="padding:0;">
            Someone
            </div>
            <div class="col-xs-2 text-center" style="padding:0">
            Tomorrow
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-xs-6">
            First Task
            </div>
            <div class="col-xs-4 text-center" style="padding:0;">
            Someone
            </div>
            <div class="col-xs-2 text-center" style="padding:0">
            Tomorrow
            </div>
        </div>
    </a>
</div>
